<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>form update</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url(https://million-wallpapers.ru/wallpapers/2/90/451322782742528/oboi-chernyj-fon-iskustvo.jpg)">
<div class="jumbotron text-center" style="height: 300px">
    <tr style="margin-bottom: 50px">
        <th> <img src="https://images.aif.by/007/555/1fa244fc7a4a0e1f67112359f6660366.jpg"
                  class="img-rounded" alt="Cinque Terre" style="width: 150px; height: 100px;"></th>


        <th> <img src="https://media.kudago.com/thumbs/l/images/list/19/8e/198e76ab4a007cccae6e2e5d2c7fa570.jpg"
                  class="img-rounded" alt="Cinque Terre" style="width: 200px; height: 130px;"></th>



        <th> <img src="https://sun9-52.userapi.com/impg/rjAb_0p4ZJbDPYuZvZZ7UjGBuJxQwVt5PCK-jQ/It5YKdZSUtM.jpg?size=807x567&quality=96&sign=a2af117f1ab4efa8b8faf96122ad1c91&type=album"
                  class="img-rounded" alt="Cinque Terre" style="width: 250px; height: 150px; "></th>



        <th> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcPp1k5vuRHL_Pijr_itSACvbo3MtgEU6ZBxVeHMUG9UDdEEp1NtEuIsXc5v9aanFY96k&usqp=CAU"
                  class="img-rounded" alt="Cinque Terre" style="width: 200px; height: 130px; margin-bottom: 10px">
        </th>

        <th> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQykk-eJ-h9X1WBlq4a9Ffb_pTNUMUq9mKYrHoKQJXsFOILW0FToR-NaQ_R3KYL5rEOC70&usqp=CAU"
                  class="img-rounded" alt="Cinque Terre" style="width: 150px; height: 100px">
        </th>

    </tr>

    <a th:href="@{/cinema/find_all}"><h2><strong>Buy Tickers In One Click</strong></h2></a>
    <p><small>All the latest movie premieres are waiting for you!</small></p>

    <div class="btn-group" style="margin-left: 1330px">
        <a th:href="@{/cinema/find_all}">
            <button type="button" class="btn btn-link" style="color: darkcyan"><strong>AllCinemas</strong></button>
        </a>
        <a th:href="@{/movie/find_all}">
            <button type="button" class="btn btn-link" style="color: darkseagreen"><strong>AllMovies</strong></button>
        </a>
        <a th:href="@{/place/find_all}">
            <button type="button" class="btn btn-link" style="color: darkgrey"><strong>AllPlaces</strong></button>
        </a>
        <a th:href="@{/session/find_all}">
            <button type="button" class="btn btn-link" style="color: darkolivegreen"><strong>AllSessions</strong>
            </button>
        </a>
        <a th:href="@{/room/find_all}">
            <button type="button" class="btn btn-link"><strong>AllRooms</strong></button>
        </a>
    </div>


</div>
<form
        th:method="post"
        th:action="@{/room/merge_update/{id}(id=${room.id})}"
        th:object="${room}"
        style="width: 500px; height: 300px; margin-top: 10px; margin-left: 300px">
    <div class="form-group">
        <label for="1" style="color: aliceblue">Name of room</label>
        <input th:field="${room.name}" type="text" class="form-control" id="1" aria-describedby="emailHelp" placeholder="Name">
    </div>
    <div class="form-group" >
        <label for="2" style="color: aliceblue" >Rating</label>
        <input th:field="${room.rating}" type="text" class="form-control" id="2" placeholder="Address">
    </div>
    <div class="dropdown">
        <select th:field="*{cinemaId}" class="form-control ">
            <option th:each="cinema:${cinemaList}"
                    th:text="${cinema.name}"
                    th:value="${cinema.id}"
            ></option>
        </select>
        <button type="submit"  class="btn btn-primary" style="margin-left: 430px; margin-top: 30px">Submit</button>
    </div>

</form>
</body>
</html>